html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #411513;
  font-family: 'Oswald', sans-serif;
  color: #1D00FF;
}



a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  -webkit-transition: all 0.5s;

}

a:hover {
  text-decoration: none;
  color: grey;
  padding: 35px;
  font-size: 35px;
}

.active {
  color: #2980B9;
}

.nav {
  margin: 0;
  padding: 0;
  background-color: #F0E117;
  text-align: center;
}

.nav-link {
  display: inline-block;
  padding: 25px;
}

.image {
  width: 1000px;
  margin-top: 100px;
  border-radius: 25px;
}

.container {
  text-align: center;
}

table {
  width:60%;
  margin: 0px 20% 0px 20%;
}

.games {
  text-align: center;
  display: block;
}


embed {
  display: block;
  margin: auto;
  width: 80%;
  background-color: none;
}
